.case {
    border: 1px solid white;
    width: 80px;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 0;
    position: relative;
}

.well-placed {
    background-color: red;
}

.misplaced::after {
    content: "";
    color: orange;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
    z-index: -1;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    position: relative;
}

.nav {
    font-size: 60px;
    padding: 10px;
    color: white;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}