.keyboard {
    margin: 10px;
}

.key-row div {
    border: 1px solid white;
    width: 35px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 1px;
    position: relative;
    border-radius: 5px;
}

.key-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    position: relative;
}

.missing {
    opacity: 0.5;
}

.misplaced-keyboard {
    background-color: orange;
}